background-color: @bg ;
color: @text;

.stx-plain { color: @text; }
.stx-comment { color: @stx-comment; }
.stx-keyword { color: @stx-keyword; }
.stx-macro, .stx-macro a { color: @stx-macro; }
.stx-string, .stx-string a { color: @stx-string; }
.stx-number { color: @stx-number; }

input[type=text] {
  background-color: @bg-1;
  border: 1px solid @border;
  color: @text;
}

.t-c, #breadcrumbs, .f-rb, .f-hb, #leftpanel_drag, #bottompanel_drag {
  background-color: @bg-2;
}

a:link, a:visited, a:hover, a:active {
  color: @link;
  text-decoration: none;
}

.cs-TabLayoutPanelTabs, .pagerContainer, .content-header, .fb-h.fb-a, .f-kb {
  background-color: @bg-1;
  border-bottom: 0;
}

.cs-TabLayoutPanelTabInner>.gwt-HTML {
  color: @link;
}

.cs-TabLayoutPanelTab-selected>.cs-TabLayoutPanelTabInner>.gwt-HTML {
  color: @text;
}

.gwt-TabText, .gwt-TabSeparator, .outline-name, .outline-param {
  color: @link;
}

.focus .selected .treeItemContent, .focus .selected .treeItemContent .outlineparam, .focus .selected .treeItemContent .outlineicon {
  background-color: @bg-2;
}

#browsecontent {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

a.linelink {
  background-color: @bg;
  color: @link;
}

.addCommentsContainer {
  background-color: @bg;
}

.lineNumberContainer {
  background-color: @bg;
  border-right: 1px solid @bg-1;
}

.f-L {
  background-color: @highlight-1;
  color: spin(@highlight-1, 180);
}

.f-w{
  background-color: @highlight-2;
  color: spin(@highlight-2, 180);
}

.chl, .chl .stx-comment, .chl .stx-string {
  background-color: @highlight-3;
  color: spin(@highlight-3, 180);
}

::selection {
  background-color: @selection;
  color: spin(@selection, 180);
}

.gwt-FastTree, .gwt-FastTree .stickyHeader, .S-a, .fb-f {
  background-color: @bg;
}

.vb-d, .gwt-InlineLabel, .gwt-Label, .focus .f-qb, .C-g {
  color: @text;
}

.gux-dropdown-c {
  background-color: @bg-3;
}

.gux-combo-item {
  color: @text;
}

.gux-combo-item-selected, .nb-b:hover {
  background-color: @bg;
}

.C-n {
  background-color: @bg-1;
  border-top: 1px solid @border;
  border-bottom: 1px solid @border;
}

.C-b, .K-b {
  background-color: @bg-1;
}

.goog-button-base-inner-box {
  background-color: @button;
  border-color: @border;
}

.goog-button-base-outer-box {
  border-color:@border;
}

.goog-button-base-top-shadow {
  background-color: @button;
  border-bottom: @border;
}

.goog-button-base-content {
  color: @button-text;
}

.focusableScrollPanel {
  background-color: @bg;
}

.w-c {
  background-color: @bg-2;
}

.cb-a {
  background-color: @bg-1;
}

.x-a {
  background-color: @bg;
}

.x-i {
  border-left: 3px solid @bg-2;
  border-right: 3px solid @bg-2;
  border-bottom: 3px solid @bg-2;
}

.yb-d, .cb-j:link, .cb-j:visited, .cb-j:hover, .cb-j:active  {
  color: @link !important;
}

.U-a {
  color: @text;
  border-top: 1px solid @border;
}

.k-d {
  color: @text;
  background-color: @bg;
  border-top: 1px solid @border;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
  background: @bg-2;
  border: 0;
}

::-webkit-scrollbar-track {
  background: @bg-3;
  border: 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}